In [ ]:
#Dependencies
!pip install dspy-ai[chromadb] -Uqq
!pip install termcolor -Uqq
!pip install sqlalchemy -Uqq

## AIM OF THE TUTORIAL

* Build an end-to-end Text-to-SQL pipeline inspired from this [video](https://www.youtube.com/watch?v=L1o1VPVfbb0&pp=ygUYYWR2YW5jZWQgUkFHIGxsYW1hIGluZGV4) from Llama Index. In Llama Index, they used llama index Query Pipeline to build a Text-to-SQL pipeline. Here, we will build a Text-to-SQL pipeline based on our own dataset and from scratch. We will go from the dataset scraping, to building SQLlite database and using DSPy signatures to implementa a text-to-SQL pipeline

## ABOUT THE DATASET
* You can find the dataset [here](https://pages.stern.nyu.edu/~adamodar/New_Home_Page/datacurrent.html). The dataset has different industry based different financial metrics like WACC, tax rates, EBITDA, etc. There are multiple regions data `['US', 'Europe', 'Japan', 'AUS_NZ_CANADA', 'Emerging', 'China', 'India', 'Global']` where we have multiple tables for each region. There are nearly 250 tables with multiple columns in each table. We will build a text-to-SQL pipeline based on our own dataset and from scratch, starting from embedding tables schema and rows using ChromDB vector database.

In [59]:
#imports
from bs4 import BeautifulSoup 
import urllib.request
import ssl
from dotenv import load_dotenv
import openai
import os
import requests
import warnings
warnings.filterwarnings("ignore")
from tqdm import tqdm
import pandas as pd
import json
from sqlalchemy import (
    create_engine,
    MetaData,
    Table,
    Column,
    String,
    Integer,
)
import re
from sqlalchemy import inspect
import sqlalchemy
from sqlalchemy import text 
import dspy
from typing import List
from termcolor import colored

## SCRAPING THE LINKS OF THE EXCEL FILES FROM THE WEBSITE

In [2]:
ssl._create_default_https_context = ssl._create_stdlib_context
html_link = "https://pages.stern.nyu.edu/~adamodar/New_Home_Page/datacurrent.html"

with urllib.request.urlopen(html_link) as url:
    s = url.read()
    # I'm guessing this would output the html source code ?
    soup = BeautifulSoup(s,"lxml")

html_table = soup.find_all("table")
req_table = html_table[1]
hrefs_list = req_table.find_all('a')

In [42]:
req_href = {"US":[],"Europe":[],"Japan":[],"AUS_NZ_CANADA":[],"Emerging":[],"China":[],"India":[],"Global":[]}

for i in hrefs_list:
    name = i.get_text().strip()
    try:
        href_attr = i['href']
        # Only get the excel files
        if href_attr.endswith('.xls'):
            if "US" in name:
                req_href["US"].append(href_attr)
            elif "Europe" in name:
                req_href["Europe"].append(href_attr)
            elif "Japan" in name:
                req_href["Japan"].append(href_attr)
            elif "Aus" in name:
                req_href['AUS_NZ_CANADA'].append(href_attr)
            elif "Emerging" in name:
                req_href['Emerging'].append(href_attr)
            elif "China" in name:
                req_href['China'].append(href_attr)
            elif "India" in name:
                req_href['India'].append(href_attr)
            elif "Global" in name: 
                req_href['Global'].append(href_attr)
    except:
        pass

In [93]:
#Download the excel files from the website and store it in a folder named DATA
ssl._create_default_https_context = ssl._create_stdlib_context

import os
os.makedirs("DATA",exist_ok=True)
for country,excel_files in req_href.items():
    country_path = os.path.join("DATA",country) 
    os.makedirs(country_path,exist_ok=True)
    for file in excel_files:
        file_name = file.split("/")[-1].split(".")[0]
        full_file_name = os.path.join(country_path,f"{file_name}.xls")
        resp = requests.get(file,verify=False)
        output = open(full_file_name, 'wb')
        output.write(resp.content)
        output.close()

In [35]:
# Sanity check
for country in os.listdir("DATA"):
    dir_len = len(os.listdir(os.path.join("DATA",country)))
    country_len = len(req_href[country])
    print(f'FOR {country} WE HAVE DIRECTORY LEN = {dir_len} and ACTUAL LEN = {country_len}')

FOR Emerging WE HAVE DIRECTORY LEN = 29 and ACTUAL LEN = 29
FOR Europe WE HAVE DIRECTORY LEN = 29 and ACTUAL LEN = 29
FOR Global WE HAVE DIRECTORY LEN = 29 and ACTUAL LEN = 29
FOR AUS_NZ_CANADA WE HAVE DIRECTORY LEN = 29 and ACTUAL LEN = 29
FOR China WE HAVE DIRECTORY LEN = 29 and ACTUAL LEN = 29
FOR Japan WE HAVE DIRECTORY LEN = 29 and ACTUAL LEN = 29
FOR US WE HAVE DIRECTORY LEN = 24 and ACTUAL LEN = 24
FOR India WE HAVE DIRECTORY LEN = 29 and ACTUAL LEN = 29

## CLEANING THE DATASET

In [73]:
sample_excel = pd.ExcelFile("DATA2/US/capex.xls")

In [79]:
sn = 'Variables & FAQ'
sample_excel.parse(sn).head(10)

,End Game,"To measure how much companies are reinvesting back into their long term assets, as a prelude to forecasting expected growth.",Unnamed: 2,Unnamed: 3
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,Variable,How it is measured,What it measures,Units
3,Capital Expenditures,Sum of the capital expenditures reported on st...,"Gross investment in long term assets, at least...",$ millions
4,Depreciation,Sum of the depreciation reported on statement ...,"Loss in value of assets, from use, as measured...",$ millions
5,Net Cap Ex,Sum of capital expenditures on statement of ca...,"Net investment in long term assets, at least a...",$ millions
6,Net R&D,Sum of R&D reported as expense in most recent ...,"Net investment in long term assets, expanded t...",$ millions
7,Acquisitions,Sum of acquisitions reported on statement of c...,Augments investment to include acquisition.,$ millions

In [78]:
sample_excel.parse(sample_excel.sheet_names[1]).head(10)

,Date updated:,2024-01-05 00:00:00,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Created by:,"Aswath Damodaran, adamodar@stern.nyu.edu",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,What is this data?,"Capital Expenditures, Acquisitions and R&D and...",NaN,NaN,NaN,US companies,NaN,NaN,NaN,NaN
2,Home Page:,http://www.damodaran.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Data website:,https://pages.stern.nyu.edu/~adamodar/New_Home...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Companies in each industry:,https://pages.stern.nyu.edu/~adamodar/pc/datas...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Variable definitions:,https://pages.stern.nyu.edu/~adamodar/New_Home...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Industry Name,Number of Firms,Capital Expenditures (US $ millions),Depreciation & Amort ((US $ millions),Cap Ex/Deprecn,Acquisitions (US $ millions),Net R&D (US $ millions),Net Cap Ex/Sales,Net Cap Ex/ EBIT (1-t),Sales/ Invested Capital (LTM)
7,Advertising,57,775.729,1887.338,0.411018,322.559,75.08,-0.016886,-0.21812,3.283403
8,Aerospace/Defense,70,10982.128,13311.598,0.825004,10344.75,830.4634,0.022829,0.318077,1.98434
9,Air Transport,25,25559.725,10609.948,2.409034,368.21,73.5486,0.067203,1.355173,1.77732

* In the dataset above, there are two sheets. The first sheet is the variables and summary, and the second sheet is the table with the data. 
* We will clean the first sheet to get the table name and summary

In [38]:
import pandas as pd
from tqdm import tqdm
import json
pd.set_option('display.max_rows', 50)

def sanitize_column_name(col_name):
    # Remove special characters and replace spaces with underscores
    return re.sub(r"\W+", "_", col_name)

dir = "DATA"
processed_dir = "Processed Data"
all_infos_dict = []
os.makedirs(processed_dir,exist_ok=True)
for country in os.listdir(dir):
    print(country)
    file_name = os.path.join(dir,country)
    os.makedirs(os.path.join(processed_dir,country),exist_ok=True)
    os.makedirs(file_name,exist_ok=True)
    for excel_file in tqdm(os.listdir(file_name)):
        full_file_name = os.path.join(file_name,excel_file)
        xls = pd.ExcelFile(full_file_name)
        sns = xls.sheet_names
        for sheet_name in sns:
            if "Var" in sheet_name or "var" in sheet_name:
                info_df = xls.parse(sheet_name)
                info_df.dropna(how="all",inplace=True)
                info_dict = {}
                for cols in info_df.columns:
                    if "End" not in cols and 'Unnamed' not in cols:
                        info_dict['Summary'] = cols
                info_dict['Vars'] = info_df.values[1:].tolist()
                all_infos_dict.append(info_dict)
            elif "Industry" in sheet_name or "industry" in sheet_name:
                data_df = xls.parse(sheet_name)
        try:
            data_df.dropna(axis=1,thresh=5,inplace=True)
            data_df.dropna(inplace=True)
            new_header = data_df.iloc[0] #grab the first row for the header
        except:
            print(full_file_name)
            print(data_df)
        data_df = data_df[1:] #take the data less the header row
        data_df.reset_index(inplace=True,drop=True)
        new_header = [sanitize_column_name(str(col)) for col in new_header]
        data_df.columns = new_header #set the header row as the df header
        save_name = full_file_name.split(".")[0].split("/")[-1]
        save_file_path = os.path.join(os.path.join(processed_dir,country),save_name)
        data_df.to_csv(save_file_path+".csv",index=False)
        with open(save_file_path+".json", "w") as outfile: 
            json.dump(info_dict, outfile)

Emerging

100%|██████████| 29/29 [00:00<00:00, 86.52it/s]

Europe

100%|██████████| 29/29 [00:00<00:00, 94.75it/s]

Global

100%|██████████| 29/29 [00:00<00:00, 102.75it/s]

AUS_NZ_CANADA

100%|██████████| 29/29 [00:00<00:00, 104.23it/s]

China

100%|██████████| 29/29 [00:00<00:00, 103.50it/s]

Japan

100%|██████████| 29/29 [00:00<00:00, 66.34it/s]

US

100%|██████████| 24/24 [00:00<00:00, 102.91it/s]

India

100%|██████████| 29/29 [00:00<00:00, 100.35it/s]

## A SAMPLE METADATA JSON

In [196]:
all_infos_dict[0]

{'Summary': 'Measures of accounting returns, to all claim holders (and from operations)',
 'Vars': [['Number of firms',
   'Number of firms in the industry grouping.',
   'Law of large numbers?'],
  ['R&D Capitalized',
   'My estimate of R&D capitalization, based upon a 5-year straight line amortization period, aggregated across firms in the group',
   'Capitalized value of R&D gets added on to book equity and to invested capital'],
  ['Capitalized R&D as percent of invested capital',
   'My R&D capitalization estimate, as a percent of invested capital including that number, based upon aggregated values across firms',
   'Magnitude of investment in R&D, relative to investment in more traditional capital expenditures.'],
  ['R&D -LTM',
   'Aggregated R&D expenses across the last twelve months, across companies in the group.',
   'Spending on R&D in most recent year'],
  ['R&D: Years minus 1 to minus 5',
   'Aggregated R&D expenses for each of the previous five years, across companies in the group.',
   'Sepnding on R&D over last five years']]}

## DATAFRAME AFTER PREPROCESSING

In [197]:
df = pd.read_csv("Processed Data/US/capex.csv")
df.head()

,Industry_Name,Number_of_Firms,Capital_Expenditures_(US_$_millions),Depreciation_&_Amort_((US_$_millions),Cap_Ex/Deprecn,Acquisitions_(US_$_millions),Net_R&D_(US_$_millions),Net_Cap_Ex/Sales,Net_Cap_Ex/_EBIT_(1-t),Sales/_Invested_Capital_(LTM)
0,Advertising,57,775.729,1887.338,0.411018,322.559,75.0800,-0.016886,-0.218120,3.283403
1,Aerospace/Defense,70,10982.128,13311.598,0.825004,10344.750,830.4634,0.022829,0.318077,1.984340
2,Air Transport,25,25559.725,10609.948,2.409034,368.210,73.5486,0.067203,1.355173,1.777320
3,Apparel,38,1730.981,1386.480,1.248472,38.739,0.9474,0.005365,0.072557,1.773076
4,Auto & Truck,34,29899.486,18677.668,1.600815,193.220,983.0696,0.026577,0.675918,1.048732

## BUILD TABLE NAMES AND METADATA

* Here we use a DSPy signature given the first 10 rows of the dataframe, we generate the table name and table explanation. It will help us to dynamically select the correct table based on the query.

In [199]:
df.head(10).to_csv()

',Industry_Name,Number_of_Firms,Capital_Expenditures_(US_$_millions),Depreciation_&_Amort_((US_$_millions),Cap_Ex/Deprecn,Acquisitions_(US_$_millions),Net_R&D_(US_$_millions),Net_Cap_Ex/Sales,Net_Cap_Ex/_EBIT_(1-t),Sales/_Invested_Capital_(LTM)\n0,Advertising,57,775.729,1887.338,0.4110175283918408,322.559,75.07999999999993,-0.0168860862168837,-0.2181203933865563,3.283403041333076\n1,Aerospace/Defense,70,10982.128,13311.597999999998,0.8250044810547916,10344.749999999998,830.4633999999933,0.0228292321038578,0.318077061754813,1.9843395804666923\n2,Air Transport,25,25559.725,10609.948,2.4090339556800844,368.21,73.5486000000019,0.0672027546276203,1.3551729988499104,1.7773199625336142\n3,Apparel,38,1730.9809999999998,1386.4799999999996,1.2484716692631703,38.739,0.9473999999991064,0.0053650838666078,0.0725567415076527,1.7730762352050575\n4,Auto & Truck,34,29899.486,18677.668,1.6008147269776931,193.22,983.0695999999988,0.0265766732899557,0.6759175844836917,1.048731678622114\n5,Auto Parts,39,3565.4210000000007,2034.471,1.7525051966825778,1061.7600000000002,454.9352000000008,0.0316936036463534,0.8398185079860373,2.004790963758861\n6,Beverage (Alcoholic),19,2244.8160000000007,864.0629999999999,2.59797723082692,1370.0,0.0,0.0939030584900288,0.6367443614850201,0.8968231153352131\n7,Beverage (Soft),29,7926.687000000001,4543.389,1.7446639501922463,674.6669999999999,7.705600000001141,0.0238699281532688,0.1517545513863501,1.6931990505110932\n8,Broadcasting,22,1837.548,3387.6400000000003,0.5424271764414165,43.856,0.2399999999997817,-0.0206121524427381,-0.2104150803584717,1.1159893806472496\n9,Brokerage & Investment Banking,27,7783.945999999999,4646.382,1.675270350134793,876.0999999999999,-189.38079999999945,0.0167661627913481,3.4298253908840737,0.2794992243703733\n'

In [6]:
load_dotenv(override=True)
openai.api_key = os.environ['OPENAI_API_KEY']

In [8]:
import dspy
turbo = dspy.OpenAI(model='gpt-3.5-turbo-instruct', max_tokens=250)
dspy.settings.configure(lm=turbo)

class SQLTableMetadata(dspy.Signature):
    """Give a suitable table name and description about the given table"""
    pandas_dataframe_str = dspy.InputField(desc="First 10 rows of a pandas dataframe delimited by newline character")
    table_name = dspy.OutputField(desc="suitable table name")
    table_summary = dspy.OutputField(desc="a summary about the table")

class CoT(dspy.Module):
    def __init__(self):
        super().__init__()
        self.prog = dspy.ChainOfThought(SQLTableMetadata)
    
    def forward(self, pandas_dataframe_str):
        return self.prog(pandas_dataframe_str=pandas_dataframe_str)

cot = CoT()

cot(pandas_dataframe_str = df.head(10).to_csv())

In [9]:
processed_dir = "Processed Data"

for country in os.listdir(processed_dir):
    country_folder = os.path.join(processed_dir,country)
    print(f"{country}")
    for files in tqdm(os.listdir(country_folder)):
        # print(files)
        if files.endswith(".csv"):
            file_name = files.split(".")[0]
            csv_file_path = os.path.join(country_folder,files)
            df = pd.read_csv(csv_file_path,index_col=False)
            json_file_path = os.path.join(country_folder,f"{file_name}.json")
            with open(json_file_path,'r') as f:
                data = json.loads(f.read())
            if 'table_name' in data and 'table_summary' in data:
                # if data['table_name'] == "" or data['table_summary'] == "":
                if data['table_summary'] == "":
                    pass
                else:
                    continue
            table_preds = cot(pandas_dataframe_str = df.head(10).to_csv())
            data['table_name'] = table_preds.table_name
            data['table_summary'] = table_preds.table_summary
            with open(json_file_path,'w') as f:
                json.dump(data, f)

US

100%|██████████| 48/48 [08:18<00:00, 10.39s/it]

India

100%|██████████| 58/58 [12:00<00:00, 12.43s/it]

## NEXT TASKS
1. Build database with each region for each table
2. Embed the table summary and table SCHEMA. Also, embed the table rows
3. Retrieval at table level and embed the rows to retrieve relevant rows from the retrieved schema of table
4. Text-to-SQL pipeline

## BUILD THE SQLITE DATABASE FROM THE CSV FILES

It was taken from the [tutorial](https://docs.llamaindex.ai/en/stable/examples/pipeline/query_pipeline_sql/)

In [2]:
# Function to create a sanitized column name
def sanitize_column_name(col_name):
    # Remove special characters and replace spaces with underscores
    return re.sub(r"\W+", "_", col_name)


# Function to create a table from a DataFrame using SQLAlchemy
def create_table_from_dataframe(
    df: pd.DataFrame, table_name: str, engine, metadata_obj
):
    # Sanitize column names
    sanitized_columns = {col: sanitize_column_name(col) for col in df.columns}
    df = df.rename(columns=sanitized_columns)

    # Dynamically create columns based on DataFrame columns and data types
    columns = [
        Column(col, String if dtype == "object" else Integer)
        for col, dtype in zip(df.columns, df.dtypes)
    ]

    # Create a table with the defined columns
    table = Table(table_name, metadata_obj, *columns)

    # Create the table in the database
    metadata_obj.create_all(engine)

    # Insert data from DataFrame into the table
    with engine.connect() as conn:
        for _, row in df.iterrows():
            insert_stmt = table.insert().values(**row.to_dict())
            conn.execute(insert_stmt)
        conn.commit()

## DATABASE FOR US

In [3]:
processed_dir  = "Processed Data"
def sqlalchemy_engine(region:str):
    """Create a SQLAlchemy engine for the given region"""
    assert region in os.listdir(processed_dir), f"{region} is not a valid region from {os.listdir(processed_dir)}"
    # Create a SQLAlchemy database for each region
    engine = create_engine(f"sqlite:///{region}.db")
    metadata_obj = MetaData()
    region_path = os.path.join(processed_dir,region)
    dfs = []
    for dataframes_path in os.listdir(region_path):
        if dataframes_path.endswith(".csv"):
            df = pd.read_csv(os.path.join(region_path,dataframes_path),index_col=False)
            dfs.append((dataframes_path,df))
    pbar = tqdm(total=len(dfs),desc=f"Creating tables for {region}")
    for _, df_table_name in enumerate(dfs):
        table_name = df_table_name[0]
        table_name = table_name.split(".")[0]
        df = df_table_name[1]
        # print(f"Creating table: {table_name}")
        create_table_from_dataframe(df,table_name, engine, metadata_obj)
        # print(f"Done creating table for: {table_name}")
        pbar.update(1)
    return engine

In [4]:
us_engine = sqlalchemy_engine("US")
india_engine = sqlalchemy_engine("India")
china_engine = sqlalchemy_engine("China")
europe_engine = sqlalchemy_engine("Europe")
global_engine = sqlalchemy_engine("Global")
aus_nz_canada_engine = sqlalchemy_engine("AUS_NZ_CANADA")
japan_engine = sqlalchemy_engine("Japan")
emerging_engine = sqlalchemy_engine("Emerging")

Creating tables for US:   0%|          | 0/24 [00:00<?, ?it/s]

Creating tables for US: 100%|██████████| 24/24 [00:00<00:00, 32.14it/s]
Creating tables for India: 100%|██████████| 29/29 [00:00<00:00, 34.59it/s]
Creating tables for China: 100%|██████████| 29/29 [00:00<00:00, 34.04it/s]
Creating tables for Europe: 100%|██████████| 29/29 [00:01<00:00, 27.87it/s]
Creating tables for Global: 100%|██████████| 29/29 [00:00<00:00, 32.03it/s]
Creating tables for AUS_NZ_CANADA: 100%|██████████| 29/29 [00:00<00:00, 35.59it/s]
Creating tables for Japan: 100%|██████████| 29/29 [00:00<00:00, 29.57it/s]
Creating tables for Emerging: 100%|██████████| 29/29 [00:00<00:00, 32.32it/s]

In [5]:
def get_table_infos(sql_engine:sqlalchemy.engine.base.Engine,region:str):
    """Get all the tables info in the database based on the given region"""
    inspector = inspect(sql_engine)
    table_names = inspector.get_table_names()
    table_infos_dict = {tb: [] for tb in table_names}
    for tb in table_names:
        column_dict = inspector.get_columns(tb)
        schema_str = ""
        primary_keys = []
        for col in column_dict:
            schema_str += f"{col['name']} ({col['type']}), "
            if col["primary_key"] not in primary_keys:
                primary_keys.append(col["name"])
        with open(os.path.join(processed_dir,region,f"{tb}.json")) as f:
            table_info = json.loads(f.read())
        table_infos_dict[tb] = [
            {
                "table_info": f"Table {tb} has columns: {schema_str[:-2]}",
                "table_summary": f'{table_info["Summary"]}. {table_info["table_summary"]}. ',
            }
        ]
    return table_infos_dict

In [6]:
us_tb_dict = get_table_infos(us_engine,"US")
india_tb_dict = get_table_infos(india_engine,"India")
china_tb_dict = get_table_infos(china_engine,"China")
europe_tb_dict = get_table_infos(europe_engine,"Europe")
global_tb_dict = get_table_infos(global_engine,"Global")
aus_nz_canada_tb_dict = get_table_infos(aus_nz_canada_engine,"AUS_NZ_CANADA")
japan_tb_dict = get_table_infos(japan_engine,"Japan")
emerging_tb_dict = get_table_infos(emerging_engine,"Emerging")

In [7]:
us_tb_dict['DollarUS']

[{'table_info': 'Table DollarUS has columns: Industry_Name (VARCHAR), Number_of_firms (INTEGER), Average_Company_Age_years_ (INTEGER), Market_Cap_millions_ (INTEGER), Book_Equity_millions_ (INTEGER), Enteprise_Value_millions_ (INTEGER), Invested_Capital_millions_ (INTEGER), Total_Debt_including_leases_millions_ (INTEGER), Revenues_millions_ (INTEGER), Gross_Profit_millions_ (INTEGER), EBITDA_millions_ (INTEGER), EBIT_Operating_Income_millions_ (INTEGER), Net_Income_millions_ (INTEGER)',
  'table_summary': 'To report aggregated dollar value of key operating and marker numbers, by industry group, in millions of US $.. This table contains financial information about various industries such as their names, number of firms, average company age, market cap, book equity, enterprise value, invested capital, total debt, revenues, gross profit, EBITDA, EBIT, and net income. The data is delimited by a newline character and can be used for comparison and analysis of the financial performance of different industries.'}]

## EMBEDDINGS

1. Embed the table summary and table SCHEMA to get the table that the user is looking for
2. Embed the table rows for each table, so as to get relevant rows from the retrieved table

## EMBED THE TABLE SUMMARY AND TABLE SCHEMA

In [8]:
import chromadb
import chromadb.utils.embedding_functions as embedding_functions
from chromadb.utils.batch_utils import create_batches

load_dotenv(override=True)
emb_fn = embedding_functions.OpenAIEmbeddingFunction(
                api_key=os.environ['OPENAI_API_KEY'],
                model_name="text-embedding-3-small")
# EMBEDDING_MODEL = "mixedbread-ai/mxbai-embed-large-v1"
# emb_fn = embedding_functions.HuggingFaceEmbeddingFunction(model_name=EMBEDDING_MODEL,api_key=os.environ["HF_API_KEY"])
def embed_table_info(region:str,tb_dict):
    """Embed the table summary and table SCHEMA to get the table that the user is looking for"""
    client = chromadb.PersistentClient(path=f"{region}_TABLE")

    table_collection = client.create_collection(name="table",embedding_function=emb_fn)

    table_docs = []
    table_metadata = []


    for table_name,table_data in tb_dict.items():
        table_docs.append(table_data[0]['table_info'] + ". " + table_data[0]['table_summary'])
        table_metadata.append({"table_name":table_name,'table_metadata':table_data[0]['table_info']})
    table_ids = [f"id{i}" for i in range(len(table_docs))]
    assert len(table_docs) == len(table_metadata)
    # Create a batch of data to be sent to OpenAI Embedding API
    batches = create_batches(api=client,ids=table_ids, documents=table_docs, metadatas=table_metadata)
    for batch in tqdm(batches,desc="Embedding table info"):
        table_collection.add(ids=batch[0],
                    documents=batch[3],
                    metadatas=batch[2])

## For some strange reason, the `create_batches` was not batching the below documents, hence I had to do it manually

In [9]:

def embed_rows(region:str,batch_size:int=24):
    client = chromadb.PersistentClient(path=f"{region}_TABLE")

    rows_collection = client.create_collection(name="rows",embedding_function=emb_fn)

    rows_docs = []
    rows_metadata = []
    region_path = os.path.join(processed_dir,region)
    for df_path in os.listdir(region_path):
        df_full_path = os.path.join(region_path,df_path)
        df = pd.read_csv(df_full_path,index_col=False)
        for idx,row in df.iterrows():
            row_str = ""
            for rv in row.values:
                row_str+=str(rv) + ", "
                row_str = row_str.replace('"',"")
                row_str = row_str.replace("'",'"')
            rows_docs.append(row_str[:-2])
            rows_metadata.append({"table_name":df_path.split(".")[0],"region":region,"index":idx})
    row_ids = [f"id{i}" for i in range(len(rows_docs))]
    # print(len(rows_docs),len(rows_metadata))
    assert len(rows_docs) == len(rows_metadata) == len(row_ids)

    for start in tqdm(range(0,len(rows_docs),batch_size),desc="Embedding rows"):
        end = min(start+batch_size,len(rows_docs))
        batch_ids = row_ids[start:end]
        batch_rows = rows_docs[start:end]
        batch_metadatas = rows_metadata[start:end]
        rows_collection.add(ids=batch_ids,
                    documents=batch_rows,
                    metadatas=batch_metadatas)

In [9]:
region = "US"
embed_table_info(region,us_tb_dict)
embed_rows(region,500)

Embedding table info: 100%|██████████| 1/1 [00:00<00:00,  1.81it/s]
Embedding rows: 100%|██████████| 5/5 [01:09<00:00, 13.91s/it]

In [10]:
region = "India"
embed_table_info(region,india_tb_dict)
embed_rows(region,1000)

Embedding table info: 100%|██████████| 1/1 [00:00<00:00,  1.85it/s]
Embedding rows: 100%|██████████| 3/3 [00:29<00:00,  9.79s/it]

In [11]:
region = "China"
embed_table_info(region,china_tb_dict)
embed_rows(region,1000)

Embedding table info: 100%|██████████| 1/1 [00:20<00:00, 20.67s/it]
Embedding rows: 100%|██████████| 3/3 [01:09<00:00, 23.16s/it]

In [12]:
region = "Europe"
embed_table_info(region,europe_tb_dict)
embed_rows(region,1000)

Embedding table info: 100%|██████████| 1/1 [00:00<00:00,  2.06it/s]
Embedding rows: 100%|██████████| 3/3 [01:09<00:00, 23.11s/it]

In [13]:
region = "Global"
embed_table_info(region,global_tb_dict)
embed_rows(region,1000)

Embedding table info: 100%|██████████| 1/1 [00:20<00:00, 20.66s/it]
Embedding rows: 100%|██████████| 3/3 [01:13<00:00, 24.50s/it]

In [15]:
region = "Emerging"
embed_table_info(region,emerging_tb_dict)
embed_rows(region,1000)

Embedding rows: 100%|██████████| 3/3 [00:07<00:00,  2.54s/it]

In [16]:
region = "Japan"
embed_table_info(region,japan_tb_dict)
embed_rows(region,1000)

Embedding table info: 100%|██████████| 1/1 [00:20<00:00, 20.68s/it]
Embedding rows: 100%|██████████| 3/3 [00:47<00:00, 15.96s/it]

In [17]:
region = "AUS_NZ_CANADA"
embed_table_info(region,aus_nz_canada_tb_dict)
embed_rows(region,1000)

Embedding table info:   0%|          | 0/1 [00:00<?, ?it/s]

Embedding table info: 100%|██████████| 1/1 [00:00<00:00,  1.91it/s]
Embedding rows: 100%|██████████| 3/3 [00:47<00:00, 15.94s/it]

## TEXT-TO-SQL PIPELINE

### LOAD DATABASE

In [19]:
db_dict = {
    "US":us_engine,
    "India":india_engine,
    "China":china_engine,
    "Europe":europe_engine,
    "Global":global_engine,
    "AUS_NZ_CANADA":aus_nz_canada_engine,
    "Japan":japan_engine,
    "Emerging":emerging_engine,
}

def get_collections_db(region:str):
    # Get the database for the given region, table collection and row collection
    client = chromadb.PersistentClient(path=f"{region}_TABLE")
    table_collection = client.get_collection(name="table",embedding_function=emb_fn)
    row_collection = client.get_collection(name="rows",embedding_function=emb_fn)
    return [db_dict[region],table_collection,row_collection]

In [20]:
db_collection_dict = {
    "US":get_collections_db("US"),
    "India":get_collections_db("India"),
    "China":get_collections_db("China"),
    "Europe":get_collections_db("Europe"),
    "Global":get_collections_db("Global"),
    "AUS_NZ_CANADA":get_collections_db("AUS_NZ_CANADA"),
    "Japan":get_collections_db("Japan"),
    "Emerging":get_collections_db("Emerging"),
}

In [31]:
load_dotenv(override=True)
text_to_sql = dspy.OpenAI(model='gpt-3.5-turbo', max_tokens=1024)
sql_to_answer = dspy.OpenAI(model='gpt-3.5-turbo',max_tokens=1024)

# DSPy signature for converting text to SQL query
class TextToSQLAnswer(dspy.Signature):
    """Convert natural language text to SQL using suitable schema(s) from multiple schema choices"""

    question:str = dspy.InputField(desc="natural language input which will be converted to SQL")
    relevant_table_schemas_rows:str = dspy.InputField(desc="Multiple possible tables which has table name and corresponding columns, along with relevant rows from the table (values in the same order as columns above)")
    sql:str = dspy.OutputField(desc="Generate syntactically correct sqlite query with correct column names using suitable tables(s) and its rows.\n Don't forget to add distinct.\n Please rename the returned columns into suitable names.\n DON'T OUTPUT anything else other than the sqlite query")

# DSPy signature for converting SQL query and question to natural language text
class SQLReturnToAnswer(dspy.Signature):
    """Answer the question using the rows from the SQL query"""
    question:str = dspy.InputField()
    sql:str = dspy.InputField(desc="sqlite query that generated the rows")
    relevant_rows:str = dspy.InputField(desc="relevant rows to answer the question")
    answer:str = dspy.OutputField(desc="answer to the question using relevant rows and the sql query")

# If there is an SQLError, then rectify the error by trying again
class SQLRectifier(dspy.Signature):
    """Correct the SQL query to resolve the error using the proper table names, columns and rows"""  
    input_sql:str = dspy.InputField(desc="sqlite query that needs to be fixed")
    error_str: str = dspy.InputField(desc="error that needs to be resolved")
    relevant_table_schemas_rows:str = dspy.InputField(desc="Multiple possible tables which has table name and corresponding columns, along with relevant rows from the table (values in the same order as columns above)")
    sql:str = dspy.OutputField(desc="corrected sqlite query to resolve the error and remove and any invalid syntax in the query.\n Don't output anything else other than the sqlite query")

dspy.settings.configure(lm=text_to_sql)

# Filter out the SQL Query
def process_sql_str(sql_str:str):
    sql_str = sql_str.replace("```","")
    sql_str = sql_str.replace("sql","")
    sql_str = sql_str.strip()
    return sql_str

<p align="center">
  <img src="https://raw.githubusercontent.com/Athe-kunal/Text-to-SQL/main/Schema.png" alt="Sublime's custom image"/>
</p>

In [67]:
class TextToSQLQueryModule(dspy.Module):
    """Text to SQL to final module"""
    def __init__(self,region:str,use_cot:bool=True,max_retries:int=3):
        """Text to Answer init module

        Args:
            region (str): Region for which the module will be used.
            use_cot (bool, optional): Whether to use chain of thought for sql query generation. Defaults to True.
            max_retries (int, optional): Number of max retries for SQLError. Defaults to 3.
        """
        super().__init__()
        self.region = region
        db,table_collection,row_collection = db_collection_dict[region]
        self.table_collection = table_collection
        self.use_cot = use_cot
        self.db = db
        self.row_collection = row_collection
        if self.use_cot == True:
            self.sqlAnswer = dspy.ChainOfThought(TextToSQLAnswer)
        else:
            self.sqlAnswer = dspy.Predict(TextToSQLAnswer)
        self.final_output = dspy.Predict(SQLReturnToAnswer)
        self.max_tries = max_retries
        # Initialize the sql rectifier with CoT reasoning
        self.sql_rectifier = dspy.ChainOfThought(SQLRectifier,rationale_type=dspy.OutputField(
            prefix="Reasoning: Let's think step by step in order to",
            desc="${produce the answer}. We ..."
        ))
    def forward(self,question:str):
        # Embed the question with embedding function
        question_emb = emb_fn.embed_with_retries(question)
        # Retrieve the relevant tables from table schema and table summary
        docs = self.table_collection.query(
            query_embeddings = question_emb,
            n_results = 5
        )

        relevant_rows_schemas = ""
    
        existing_table_names = []

        for table_idx,metadata_name in enumerate(docs['metadatas'][0]):
            table_metadata = metadata_name['table_metadata']
            table_name = metadata_name['table_name']
            # If the table name is already in the list of existing table names, skip it
            if table_name in existing_table_names: 
                continue
            existing_table_names.append(table_name)
            # Retrieve the relevant rows from the current table
            rows = self.row_collection.query(
                query_embeddings = question_emb,
                n_results = 5,
                # where clause to filter the rows
                where = {"table_name":table_name}
            )
            # Retrieve the relevant table with the schema and summary
            relevant_rows_schemas += f'Table {table_idx+1}: {table_metadata}\n'
            for row_idx,row in enumerate(rows['documents'][0]):
                # Get the relevant rows from the current table
                relevant_rows_schemas += f'\tRow {row_idx+1} from table {table_name}: {row}\n'
            relevant_rows_schemas += '\n\n'
        print(colored(relevant_rows_schemas,"yellow"))
        sql_query = self.sqlAnswer(question=question,relevant_table_schemas_rows=relevant_rows_schemas)

        num_tries = 0
        print(sql_query)
        while num_tries <= self.max_tries:
            with self.db.connect() as conn:
                try:
                    # Try executing the sql query for the database
                    result = conn.execute(text(process_sql_str(sql_query.sql)))
                    num_tries = self.max_tries + 1
                except Exception as error:
                    # If there is an sql error, then try again with the sql rectifier
                    print(colored(str(error),'red'))
                    sql_query = self.sql_rectifier(input_sql=sql_query.sql,error_str=str(error),relevant_table_schemas_rows=relevant_rows_schemas)
                    print(colored(sql_query.rationale,'green'))
                    print()
                    print(colored(sql_query.sql,'green'))
                    # If all the num_retries are exhausted, then exit the program
                    num_tries += 1
                    if num_tries == self.max_tries:
                        return sql_query,error
        # With the retrieved rows from the database, then try to answer the question with dspy context
        with dspy.context(lm=sql_to_answer):
            row_str = ""
            key = tuple(result.keys())
            for row in result.fetchall():
                for r,k in zip(row,key):
                    row_str += f" {k} = {r},"
                row_str = row_str[:-1]
                row_str += "\n"
            print(f"Extracted rows: {row_str}")
            final_answer = self.final_output(question=question,sql=sql_query.sql,relevant_rows=row_str)
            return final_answer

In [64]:
tsql = TextToSQLQueryModule("India")
sq = tsql(question="What is the effective tax rate of software industry?")
# sq = tsql(question="What is the beta value and number of firms for all the Software industries and semiconductor industry?")
# sq = tsql("What is the debt to EBITDA ratio for software industry?")

Table 1: Table wcdataIndia has columns: Industry_Name (VARCHAR), Number_of_firms (INTEGER), Acc_Rec_Sales (INTEGER), Inventory_Sales (INTEGER), Acc_Pay_Sales (INTEGER), Non_cash_WC_Sales (INTEGER)
	Row 1 from table wcdataIndia: Environmental & Waste Services, 14, 0.2368116129658699, 0.1284028935316297, 0.1546890424481737, 0.2020390659136147
	Row 2 from table wcdataIndia: Software (Internet), 6, 0.1181990107652022, 0.0352051207448356, 0.1166715158568519, 0.0613907477451265
	Row 3 from table wcdataIndia: Utility (Water), 1, 0.595068330362448, 0.0150920974450386, 0.3196672608437313, 0.3573380867498515
	Row 4 from table wcdataIndia: Packaging & Container, 86, 0.174276766908648, 0.1695062246193888, 0.1144739059878643, 0.2228221671710124
	Row 5 from table wcdataIndia: Software (System & Application), 73, 0.2206082612797564, 0.0069600980424173, 0.0861934214050863, 0.1104281462037313


Table 2: Table waccIndia has columns: Industry_Name (VARCHAR), Number_of_Firms (INTEGER), Beta (INTEGER), Cost_of_Equity (INTEGER), E_D_E_ (INTEGER), Std_Dev_in_Stock (INTEGER), Cost_of_Debt (INTEGER), Tax_Rate (INTEGER), After_tax_Cost_of_Debt (INTEGER), D_D_E_ (INTEGER), Cost_of_Capital (INTEGER), Cost_of_Capital_Local_Currency_ (INTEGER)
	Row 1 from table waccIndia: Environmental & Waste Services, 14, 0.9313133898177656, 0.1115355757447675, 0.9526657804735228, 0.4423714612861579, 0.074755, 0.2138353277091159, 0.0523285, 0.0473342195264773, 0.1087330550239439, 0.1302618522088747
	Row 2 from table waccIndia: Utility (Water), 1, 1.8233554710432027, 0.1812040622884741, 0.9332942097026604, 0.2649326184290872, 0.074755, 0.3184143222506394, 0.0523285, 0.0667057902973395, 0.1726073160560074, 0.1953763901541823
	Row 3 from table waccIndia: Software (Internet), 6, -0.0057433681694908, 0.0383514429459627, 0.967448014179086, 0.504931470076568, 0.077424, 0.0983609410926519, 0.0541968, 0.0325519858209141, 0.0388672407841131, 0.0590394202168143
	Row 4 from table waccIndia: Packaging & Container, 86, 0.7511524165484432, 0.0974650037324334, 0.7447674040631929, 0.3819516759847317, 0.074755, 0.156854620625978, 0.0523285, 0.2552325959368071, 0.085944696713293, 0.1070310015038424
	Row 5 from table waccIndia: Software (System & Application), 73, 1.164011103524074, 0.1297092671852301, 0.9861376752921508, 0.4048728665269909, 0.074755, 0.1609424721087531, 0.0523285, 0.0138623247078493, 0.128636589864366, 0.1505518634539653


Table 3: Table goodwillIndia has columns: Industry_Name (VARCHAR), Number_of_Firms (INTEGER), Goodwill_in_millions_ (INTEGER), Change_in_Goodwill_in_last_year (INTEGER), Goodwill_as_of_Total_Assets (INTEGER), Impairment_of_Goodwill_in_LTM_in_millioins (INTEGER), Impairment_as_of_Goodwill (INTEGER)
	Row 1 from table goodwillIndia: Environmental & Waste Services, 14, 2.6699999999999995, 0.8459999999999994, 0.0038754626605704, 0.0, 0.0
	Row 2 from table goodwillIndia: Packaging & Container, 86, 20.343, -0.2359999999999971, 0.0032979266492997, 0.0, 0.0
	Row 3 from table goodwillIndia: Software (System & Application), 73, 558.5479999999999, 161.64099999999996, 0.0955326543942697, 22.520000000000003, 0.0403188266720138
	Row 4 from table goodwillIndia: Software (Entertainment), 5, 58.54, -45.82999999999999, 0.0165666789015957, 0.0, 0.0
	Row 5 from table goodwillIndia: Semiconductor, 8, 5.369000000000001, -0.1119999999999992, 0.0478990097243286, 0.0, 0.0


Table 4: Table EVAIndia has columns: Industry_Name (VARCHAR), Number_of_Firms (INTEGER), Beta (INTEGER), ROE (INTEGER), Cost_of_Equity (INTEGER), _ROE_COE_ (INTEGER), BV_of_Equity (INTEGER), Equity_EVA (INTEGER), ROC (INTEGER), Cost_of_Capital (INTEGER), _ROC_WACC_ (INTEGER), BV_of_Capital (INTEGER), EVA (INTEGER), E_D_E_ (INTEGER), Std_Dev_in_Stock (INTEGER), Cost_of_Debt (INTEGER), Tax_Rate (INTEGER), After_tax_Cost_of_Debt (INTEGER), D_D_E_ (INTEGER)
	Row 1 from table EVAIndia: Environmental & Waste Services, 14, 0.9313133898177656, 0.1433968804159445, 0.1115355757447675, 0.031861304671177, 288.49999999999994, 9.191986397634574, 0.1954191018281763, 0.1087330550239439, 0.0866860468042324, 240.89843118324, 20.88253268061651, 0.9526657804735228, 0.4423714612861579, 0.074755, 0.2138353277091159, 0.0523285, 0.0473342195264773
	Row 2 from table EVAIndia: Utility (Water), 1, 1.8233554710432027, 0.1604009967477059, 0.1812040622884741, -0.0208030655407682, 197.4, -4.106525137747652, 0.0801573172339537, 0.1726073160560074, -0.0924499988220537, 223.97, -20.706026236175376, 0.9332942097026604, 0.2649326184290872, 0.074755, 0.3184143222506394, 0.0523285, 0.0667057902973395
	Row 3 from table EVAIndia: Software (Internet), 6, -0.0057433681694908, 0.2266569688153468, 0.0383514429459627, 0.188305525869384, 10.999, 2.071172479037356, 0.2475746446157044, 0.0388672407841131, 0.2087074038315913, 11.807, 2.464208317039599, 0.967448014179086, 0.504931470076568, 0.077424, 0.0983609410926519, 0.0541968, 0.0325519858209141
	Row 4 from table EVAIndia: Software (System & Application), 73, 1.164011103524074, 0.1613766136661462, 0.1297092671852301, 0.031667346480916, 3600.342, 114.01327756379422, 0.2357976428869992, 0.128636589864366, 0.1071610530226331, 2544.434300346837, 272.664258972074, 0.9861376752921508, 0.4048728665269909, 0.074755, 0.1609424721087531, 0.0523285, 0.0138623247078493
	Row 5 from table EVAIndia: Power, 32, 1.0186133519679434, 0.155738975833232, 0.1183537027886963, 0.0373852730445356, 59792.977, 2235.37677129064, 0.0874063037779819, 0.0983790585890078, -0.0109727548110259, 135720.51367414955, -1489.2279193729348, 0.6974694002286621, 0.3130009553928686, 0.074755, 0.1828436981118144, 0.0523285, 0.3025305997713379


Table 5: Table divfcfeIndia has columns: Industry_name (VARCHAR), Number_of_firms (INTEGER), _Dividends_ (INTEGER), _Net_Income_ (INTEGER), Payout (INTEGER), Dividends_Buybacks (INTEGER), Cash_Return_as_of_Net_Income (INTEGER), Dividends_Buybacks_Stock_Issuances (INTEGER), FCFE_before_debt_cash_flows_ (INTEGER), FCFE_after_debt_cash_flows_ (INTEGER), Net_Cash_Returned_FCFE_pre_debt_ (INTEGER), Net_Cash_Returned_FCFE_post_debt_ (INTEGER), Net_Cash_Returned_Net_Income (INTEGER), Cash_Firm_Value (INTEGER)
	Row 1 from table divfcfeIndia: Software (Internet), 6, 0.057, 2.493, 0.0228640192539109, 0.057, 0.0228640192539109, -0.649, 2.109000000000001, 2.9510000000000005, -0.3077287814129918, -0.2199254490003388, -0.2603289209787405, 0.0328328215881574
	Row 2 from table divfcfeIndia: Power, 32, 3389.4065, 9312.097, 0.3639788653404276, 3265.88, 0.3507137006841746, 2709.826, 7083.193999999999, 5267.906000000003, 0.3825711959887024, 0.5144028765889138, 0.2910006199462914, 0.0262393785332812
	Row 3 from table divfcfeIndia: Recreation, 12, 2.625, 67.85199999999999, 0.0386871426044921, 2.625, 0.0386871426044921, 2.127, 64.694, 54.191, 0.0328778557516925, 0.0392500599730582, 0.0313476389789541, 0.0244925013082297
	Row 4 from table divfcfeIndia: Advertising, 18, 2.1670000000000003, 216.254, 0.0100206238959741, 2.1670000000000003, 0.0100206238959741, -34.924, 214.557, 224.701, -0.1627725965594224, -0.15542431942893, -0.1614952787000471, 0.0217870502946718
	Row 5 from table divfcfeIndia: Information Services, 20, 58.482, 231.44600000000003, 0.2526809709392255, 106.471, 0.4600252326676632, 86.724, 186.4650000000001, 188.9690000000001, 0.4650953262006272, 0.4589324174864657, 0.3747051147999965, 0.0319488066345242



Prediction(
    rationale='produce the SQL. We need to find the effective tax rate of the software industry, which can be calculated using the tax rate from the waccIndia table.',
    sql="```sql\nSELECT DISTINCT waccIndia.Industry_Name AS Industry_Name, waccIndia.Tax_Rate AS Effective_Tax_Rate\nFROM waccIndia\nWHERE waccIndia.Industry_Name LIKE '%Software%'\n```"
)
 Industry_Name = Software (Entertainment), Effective_Tax_Rate = 0.2752644087938206
 Industry_Name = Software (Internet), Effective_Tax_Rate = 0.0983609410926519
 Industry_Name = Software (System & Application), Effective_Tax_Rate = 0.1609424721087531

In [62]:
print(sq.answer)

The effective tax rate of the software industry varies depending on the specific sector within the industry. For example, the effective tax rate for Software (Entertainment) is 27.53%, for Software (Internet) it is 9.84%, and for Software (System & Application) it is 16.09%.

In [68]:
sq = tsql(question="What is the beta value and number of firms for all the Software industries and semiconductor industry?")
print(sq.answer)

Table 1: Table wcdataIndia has columns: Industry_Name (VARCHAR), Number_of_firms (INTEGER), Acc_Rec_Sales (INTEGER), Inventory_Sales (INTEGER), Acc_Pay_Sales (INTEGER), Non_cash_WC_Sales (INTEGER)
	Row 1 from table wcdataIndia: Environmental & Waste Services, 14, 0.2368116129658699, 0.1284028935316297, 0.1546890424481737, 0.2020390659136147
	Row 2 from table wcdataIndia: Software (Internet), 6, 0.1181990107652022, 0.0352051207448356, 0.1166715158568519, 0.0613907477451265
	Row 3 from table wcdataIndia: Utility (Water), 1, 0.595068330362448, 0.0150920974450386, 0.3196672608437313, 0.3573380867498515
	Row 4 from table wcdataIndia: Packaging & Container, 86, 0.174276766908648, 0.1695062246193888, 0.1144739059878643, 0.2228221671710124
	Row 5 from table wcdataIndia: Software (System & Application), 73, 0.2206082612797564, 0.0069600980424173, 0.0861934214050863, 0.1104281462037313


Table 2: Table waccIndia has columns: Industry_Name (VARCHAR), Number_of_Firms (INTEGER), Beta (INTEGER), Cost_of_Equity (INTEGER), E_D_E_ (INTEGER), Std_Dev_in_Stock (INTEGER), Cost_of_Debt (INTEGER), Tax_Rate (INTEGER), After_tax_Cost_of_Debt (INTEGER), D_D_E_ (INTEGER), Cost_of_Capital (INTEGER), Cost_of_Capital_Local_Currency_ (INTEGER)
	Row 1 from table waccIndia: Environmental & Waste Services, 14, 0.9313133898177656, 0.1115355757447675, 0.9526657804735228, 0.4423714612861579, 0.074755, 0.2138353277091159, 0.0523285, 0.0473342195264773, 0.1087330550239439, 0.1302618522088747
	Row 2 from table waccIndia: Utility (Water), 1, 1.8233554710432027, 0.1812040622884741, 0.9332942097026604, 0.2649326184290872, 0.074755, 0.3184143222506394, 0.0523285, 0.0667057902973395, 0.1726073160560074, 0.1953763901541823
	Row 3 from table waccIndia: Software (Internet), 6, -0.0057433681694908, 0.0383514429459627, 0.967448014179086, 0.504931470076568, 0.077424, 0.0983609410926519, 0.0541968, 0.0325519858209141, 0.0388672407841131, 0.0590394202168143
	Row 4 from table waccIndia: Packaging & Container, 86, 0.7511524165484432, 0.0974650037324334, 0.7447674040631929, 0.3819516759847317, 0.074755, 0.156854620625978, 0.0523285, 0.2552325959368071, 0.085944696713293, 0.1070310015038424
	Row 5 from table waccIndia: Software (System & Application), 73, 1.164011103524074, 0.1297092671852301, 0.9861376752921508, 0.4048728665269909, 0.074755, 0.1609424721087531, 0.0523285, 0.0138623247078493, 0.128636589864366, 0.1505518634539653


Table 3: Table goodwillIndia has columns: Industry_Name (VARCHAR), Number_of_Firms (INTEGER), Goodwill_in_millions_ (INTEGER), Change_in_Goodwill_in_last_year (INTEGER), Goodwill_as_of_Total_Assets (INTEGER), Impairment_of_Goodwill_in_LTM_in_millioins (INTEGER), Impairment_as_of_Goodwill (INTEGER)
	Row 1 from table goodwillIndia: Environmental & Waste Services, 14, 2.6699999999999995, 0.8459999999999994, 0.0038754626605704, 0.0, 0.0
	Row 2 from table goodwillIndia: Packaging & Container, 86, 20.343, -0.2359999999999971, 0.0032979266492997, 0.0, 0.0
	Row 3 from table goodwillIndia: Software (System & Application), 73, 558.5479999999999, 161.64099999999996, 0.0955326543942697, 22.520000000000003, 0.0403188266720138
	Row 4 from table goodwillIndia: Software (Entertainment), 5, 58.54, -45.82999999999999, 0.0165666789015957, 0.0, 0.0
	Row 5 from table goodwillIndia: Semiconductor, 8, 5.369000000000001, -0.1119999999999992, 0.0478990097243286, 0.0, 0.0


Table 4: Table EVAIndia has columns: Industry_Name (VARCHAR), Number_of_Firms (INTEGER), Beta (INTEGER), ROE (INTEGER), Cost_of_Equity (INTEGER), _ROE_COE_ (INTEGER), BV_of_Equity (INTEGER), Equity_EVA (INTEGER), ROC (INTEGER), Cost_of_Capital (INTEGER), _ROC_WACC_ (INTEGER), BV_of_Capital (INTEGER), EVA (INTEGER), E_D_E_ (INTEGER), Std_Dev_in_Stock (INTEGER), Cost_of_Debt (INTEGER), Tax_Rate (INTEGER), After_tax_Cost_of_Debt (INTEGER), D_D_E_ (INTEGER)
	Row 1 from table EVAIndia: Environmental & Waste Services, 14, 0.9313133898177656, 0.1433968804159445, 0.1115355757447675, 0.031861304671177, 288.49999999999994, 9.191986397634574, 0.1954191018281763, 0.1087330550239439, 0.0866860468042324, 240.89843118324, 20.88253268061651, 0.9526657804735228, 0.4423714612861579, 0.074755, 0.2138353277091159, 0.0523285, 0.0473342195264773
	Row 2 from table EVAIndia: Utility (Water), 1, 1.8233554710432027, 0.1604009967477059, 0.1812040622884741, -0.0208030655407682, 197.4, -4.106525137747652, 0.0801573172339537, 0.1726073160560074, -0.0924499988220537, 223.97, -20.706026236175376, 0.9332942097026604, 0.2649326184290872, 0.074755, 0.3184143222506394, 0.0523285, 0.0667057902973395
	Row 3 from table EVAIndia: Software (Internet), 6, -0.0057433681694908, 0.2266569688153468, 0.0383514429459627, 0.188305525869384, 10.999, 2.071172479037356, 0.2475746446157044, 0.0388672407841131, 0.2087074038315913, 11.807, 2.464208317039599, 0.967448014179086, 0.504931470076568, 0.077424, 0.0983609410926519, 0.0541968, 0.0325519858209141
	Row 4 from table EVAIndia: Software (System & Application), 73, 1.164011103524074, 0.1613766136661462, 0.1297092671852301, 0.031667346480916, 3600.342, 114.01327756379422, 0.2357976428869992, 0.128636589864366, 0.1071610530226331, 2544.434300346837, 272.664258972074, 0.9861376752921508, 0.4048728665269909, 0.074755, 0.1609424721087531, 0.0523285, 0.0138623247078493
	Row 5 from table EVAIndia: Power, 32, 1.0186133519679434, 0.155738975833232, 0.1183537027886963, 0.0373852730445356, 59792.977, 2235.37677129064, 0.0874063037779819, 0.0983790585890078, -0.0109727548110259, 135720.51367414955, -1489.2279193729348, 0.6974694002286621, 0.3130009553928686, 0.074755, 0.1828436981118144, 0.0523285, 0.3025305997713379


Table 5: Table divfcfeIndia has columns: Industry_name (VARCHAR), Number_of_firms (INTEGER), _Dividends_ (INTEGER), _Net_Income_ (INTEGER), Payout (INTEGER), Dividends_Buybacks (INTEGER), Cash_Return_as_of_Net_Income (INTEGER), Dividends_Buybacks_Stock_Issuances (INTEGER), FCFE_before_debt_cash_flows_ (INTEGER), FCFE_after_debt_cash_flows_ (INTEGER), Net_Cash_Returned_FCFE_pre_debt_ (INTEGER), Net_Cash_Returned_FCFE_post_debt_ (INTEGER), Net_Cash_Returned_Net_Income (INTEGER), Cash_Firm_Value (INTEGER)
	Row 1 from table divfcfeIndia: Software (Internet), 6, 0.057, 2.493, 0.0228640192539109, 0.057, 0.0228640192539109, -0.649, 2.109000000000001, 2.9510000000000005, -0.3077287814129918, -0.2199254490003388, -0.2603289209787405, 0.0328328215881574
	Row 2 from table divfcfeIndia: Power, 32, 3389.4065, 9312.097, 0.3639788653404276, 3265.88, 0.3507137006841746, 2709.826, 7083.193999999999, 5267.906000000003, 0.3825711959887024, 0.5144028765889138, 0.2910006199462914, 0.0262393785332812
	Row 3 from table divfcfeIndia: Recreation, 12, 2.625, 67.85199999999999, 0.0386871426044921, 2.625, 0.0386871426044921, 2.127, 64.694, 54.191, 0.0328778557516925, 0.0392500599730582, 0.0313476389789541, 0.0244925013082297
	Row 4 from table divfcfeIndia: Advertising, 18, 2.1670000000000003, 216.254, 0.0100206238959741, 2.1670000000000003, 0.0100206238959741, -34.924, 214.557, 224.701, -0.1627725965594224, -0.15542431942893, -0.1614952787000471, 0.0217870502946718
	Row 5 from table divfcfeIndia: Information Services, 20, 58.482, 231.44600000000003, 0.2526809709392255, 106.471, 0.4600252326676632, 86.724, 186.4650000000001, 188.9690000000001, 0.4650953262006272, 0.4589324174864657, 0.3747051147999965, 0.0319488066345242



Prediction(
    rationale='produce the SQL. We need to retrieve the beta value for Software industries and the semiconductor industry from the waccIndia table.',
    sql="```sql\nSELECT DISTINCT waccIndia.Industry_Name AS Industry, waccIndia.Beta AS Beta, waccIndia.Number_of_Firms AS Number_of_Firms\nFROM waccIndia\nWHERE waccIndia.Industry_Name IN ('Software (Internet)', 'Software (System & Application)', 'Semiconductor');\n```"
)
 Industry = Semiconductor, Beta = 1.611640106554315, Number_of_Firms = 8
 Industry = Software (Internet), Beta = -0.0057433681694908, Number_of_Firms = 6
 Industry = Software (System & Application), Beta = 1.164011103524074, Number_of_Firms = 73

For the Software industries and semiconductor industry, the beta values and number of firms are as follows:

- Industry: Semiconductor, Beta: 1.611640106554315, Number of Firms: 8
- Industry: Software (Internet), Beta: -0.0057433681694908, Number of Firms: 6
- Industry: Software (System & Application), Beta: 1.164011103524074, Number of Firms: 73

In [69]:
sq = tsql("What is the debt to EBITDA ratio for software industry and Pharmaceutical companies?")
print(sq.answer)

Table 1: Table wcdataIndia has columns: Industry_Name (VARCHAR), Number_of_firms (INTEGER), Acc_Rec_Sales (INTEGER), Inventory_Sales (INTEGER), Acc_Pay_Sales (INTEGER), Non_cash_WC_Sales (INTEGER)
	Row 1 from table wcdataIndia: Environmental & Waste Services, 14, 0.2368116129658699, 0.1284028935316297, 0.1546890424481737, 0.2020390659136147
	Row 2 from table wcdataIndia: Software (Internet), 6, 0.1181990107652022, 0.0352051207448356, 0.1166715158568519, 0.0613907477451265
	Row 3 from table wcdataIndia: Utility (Water), 1, 0.595068330362448, 0.0150920974450386, 0.3196672608437313, 0.3573380867498515
	Row 4 from table wcdataIndia: Packaging & Container, 86, 0.174276766908648, 0.1695062246193888, 0.1144739059878643, 0.2228221671710124
	Row 5 from table wcdataIndia: Software (System & Application), 73, 0.2206082612797564, 0.0069600980424173, 0.0861934214050863, 0.1104281462037313


Table 2: Table waccIndia has columns: Industry_Name (VARCHAR), Number_of_Firms (INTEGER), Beta (INTEGER), Cost_of_Equity (INTEGER), E_D_E_ (INTEGER), Std_Dev_in_Stock (INTEGER), Cost_of_Debt (INTEGER), Tax_Rate (INTEGER), After_tax_Cost_of_Debt (INTEGER), D_D_E_ (INTEGER), Cost_of_Capital (INTEGER), Cost_of_Capital_Local_Currency_ (INTEGER)
	Row 1 from table waccIndia: Environmental & Waste Services, 14, 0.9313133898177656, 0.1115355757447675, 0.9526657804735228, 0.4423714612861579, 0.074755, 0.2138353277091159, 0.0523285, 0.0473342195264773, 0.1087330550239439, 0.1302618522088747
	Row 2 from table waccIndia: Utility (Water), 1, 1.8233554710432027, 0.1812040622884741, 0.9332942097026604, 0.2649326184290872, 0.074755, 0.3184143222506394, 0.0523285, 0.0667057902973395, 0.1726073160560074, 0.1953763901541823
	Row 3 from table waccIndia: Software (Internet), 6, -0.0057433681694908, 0.0383514429459627, 0.967448014179086, 0.504931470076568, 0.077424, 0.0983609410926519, 0.0541968, 0.0325519858209141, 0.0388672407841131, 0.0590394202168143
	Row 4 from table waccIndia: Packaging & Container, 86, 0.7511524165484432, 0.0974650037324334, 0.7447674040631929, 0.3819516759847317, 0.074755, 0.156854620625978, 0.0523285, 0.2552325959368071, 0.085944696713293, 0.1070310015038424
	Row 5 from table waccIndia: Software (System & Application), 73, 1.164011103524074, 0.1297092671852301, 0.9861376752921508, 0.4048728665269909, 0.074755, 0.1609424721087531, 0.0523285, 0.0138623247078493, 0.128636589864366, 0.1505518634539653


Table 3: Table goodwillIndia has columns: Industry_Name (VARCHAR), Number_of_Firms (INTEGER), Goodwill_in_millions_ (INTEGER), Change_in_Goodwill_in_last_year (INTEGER), Goodwill_as_of_Total_Assets (INTEGER), Impairment_of_Goodwill_in_LTM_in_millioins (INTEGER), Impairment_as_of_Goodwill (INTEGER)
	Row 1 from table goodwillIndia: Environmental & Waste Services, 14, 2.6699999999999995, 0.8459999999999994, 0.0038754626605704, 0.0, 0.0
	Row 2 from table goodwillIndia: Packaging & Container, 86, 20.343, -0.2359999999999971, 0.0032979266492997, 0.0, 0.0
	Row 3 from table goodwillIndia: Software (System & Application), 73, 558.5479999999999, 161.64099999999996, 0.0955326543942697, 22.520000000000003, 0.0403188266720138
	Row 4 from table goodwillIndia: Software (Entertainment), 5, 58.54, -45.82999999999999, 0.0165666789015957, 0.0, 0.0
	Row 5 from table goodwillIndia: Semiconductor, 8, 5.369000000000001, -0.1119999999999992, 0.0478990097243286, 0.0, 0.0


Table 4: Table EVAIndia has columns: Industry_Name (VARCHAR), Number_of_Firms (INTEGER), Beta (INTEGER), ROE (INTEGER), Cost_of_Equity (INTEGER), _ROE_COE_ (INTEGER), BV_of_Equity (INTEGER), Equity_EVA (INTEGER), ROC (INTEGER), Cost_of_Capital (INTEGER), _ROC_WACC_ (INTEGER), BV_of_Capital (INTEGER), EVA (INTEGER), E_D_E_ (INTEGER), Std_Dev_in_Stock (INTEGER), Cost_of_Debt (INTEGER), Tax_Rate (INTEGER), After_tax_Cost_of_Debt (INTEGER), D_D_E_ (INTEGER)
	Row 1 from table EVAIndia: Environmental & Waste Services, 14, 0.9313133898177656, 0.1433968804159445, 0.1115355757447675, 0.031861304671177, 288.49999999999994, 9.191986397634574, 0.1954191018281763, 0.1087330550239439, 0.0866860468042324, 240.89843118324, 20.88253268061651, 0.9526657804735228, 0.4423714612861579, 0.074755, 0.2138353277091159, 0.0523285, 0.0473342195264773
	Row 2 from table EVAIndia: Utility (Water), 1, 1.8233554710432027, 0.1604009967477059, 0.1812040622884741, -0.0208030655407682, 197.4, -4.106525137747652, 0.0801573172339537, 0.1726073160560074, -0.0924499988220537, 223.97, -20.706026236175376, 0.9332942097026604, 0.2649326184290872, 0.074755, 0.3184143222506394, 0.0523285, 0.0667057902973395
	Row 3 from table EVAIndia: Software (Internet), 6, -0.0057433681694908, 0.2266569688153468, 0.0383514429459627, 0.188305525869384, 10.999, 2.071172479037356, 0.2475746446157044, 0.0388672407841131, 0.2087074038315913, 11.807, 2.464208317039599, 0.967448014179086, 0.504931470076568, 0.077424, 0.0983609410926519, 0.0541968, 0.0325519858209141
	Row 4 from table EVAIndia: Software (System & Application), 73, 1.164011103524074, 0.1613766136661462, 0.1297092671852301, 0.031667346480916, 3600.342, 114.01327756379422, 0.2357976428869992, 0.128636589864366, 0.1071610530226331, 2544.434300346837, 272.664258972074, 0.9861376752921508, 0.4048728665269909, 0.074755, 0.1609424721087531, 0.0523285, 0.0138623247078493
	Row 5 from table EVAIndia: Power, 32, 1.0186133519679434, 0.155738975833232, 0.1183537027886963, 0.0373852730445356, 59792.977, 2235.37677129064, 0.0874063037779819, 0.0983790585890078, -0.0109727548110259, 135720.51367414955, -1489.2279193729348, 0.6974694002286621, 0.3130009553928686, 0.074755, 0.1828436981118144, 0.0523285, 0.3025305997713379


Table 5: Table divfcfeIndia has columns: Industry_name (VARCHAR), Number_of_firms (INTEGER), _Dividends_ (INTEGER), _Net_Income_ (INTEGER), Payout (INTEGER), Dividends_Buybacks (INTEGER), Cash_Return_as_of_Net_Income (INTEGER), Dividends_Buybacks_Stock_Issuances (INTEGER), FCFE_before_debt_cash_flows_ (INTEGER), FCFE_after_debt_cash_flows_ (INTEGER), Net_Cash_Returned_FCFE_pre_debt_ (INTEGER), Net_Cash_Returned_FCFE_post_debt_ (INTEGER), Net_Cash_Returned_Net_Income (INTEGER), Cash_Firm_Value (INTEGER)
	Row 1 from table divfcfeIndia: Software (Internet), 6, 0.057, 2.493, 0.0228640192539109, 0.057, 0.0228640192539109, -0.649, 2.109000000000001, 2.9510000000000005, -0.3077287814129918, -0.2199254490003388, -0.2603289209787405, 0.0328328215881574
	Row 2 from table divfcfeIndia: Power, 32, 3389.4065, 9312.097, 0.3639788653404276, 3265.88, 0.3507137006841746, 2709.826, 7083.193999999999, 5267.906000000003, 0.3825711959887024, 0.5144028765889138, 0.2910006199462914, 0.0262393785332812
	Row 3 from table divfcfeIndia: Recreation, 12, 2.625, 67.85199999999999, 0.0386871426044921, 2.625, 0.0386871426044921, 2.127, 64.694, 54.191, 0.0328778557516925, 0.0392500599730582, 0.0313476389789541, 0.0244925013082297
	Row 4 from table divfcfeIndia: Advertising, 18, 2.1670000000000003, 216.254, 0.0100206238959741, 2.1670000000000003, 0.0100206238959741, -34.924, 214.557, 224.701, -0.1627725965594224, -0.15542431942893, -0.1614952787000471, 0.0217870502946718
	Row 5 from table divfcfeIndia: Information Services, 20, 58.482, 231.44600000000003, 0.2526809709392255, 106.471, 0.4600252326676632, 86.724, 186.4650000000001, 188.9690000000001, 0.4650953262006272, 0.4589324174864657, 0.3747051147999965, 0.0319488066345242



Prediction(
    rationale='produce the SQL. We need to find the debt to EBITDA ratio for software industry and pharmaceutical companies. We will need to join multiple tables to get the required information.',
    sql="```sql\nSELECT DISTINCT\n    wc.Industry_Name AS Industry,\n    (wacc.Cost_of_Debt / EVA.EBITDA) AS Debt_to_EBITDA_Ratio\nFROM wcdataIndia wc\nJOIN waccIndia wacc ON wc.Industry_Name = wacc.Industry_Name\nJOIN EVAIndia EVA ON wc.Industry_Name = EVA.Industry_Name\nWHERE wc.Industry_Name LIKE '%Software%' OR wc.Industry_Name LIKE '%Pharmaceutical%'\n```"
)
(sqlite3.OperationalError) no such column: EVA.EBITDA
[SQL: SELECT DISTINCT
    wc.Industry_Name AS Industry,
    (wacc.Cost_of_Debt / EVA.EBITDA) AS Debt_to_EBITDA_Ratio
FROM wcdataIndia wc
JOIN waccIndia wacc ON wc.Industry_Name = wacc.Industry_Name
JOIN EVAIndia EVA ON wc.Industry_Name = EVA.Industry_Name
WHERE wc.Industry_Name LIKE '%Software%' OR wc.Industry_Name LIKE '%Pharmaceutical%']
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Sql: ```sql
SELECT DISTINCT wc.Industry_Name AS Industry, (wacc.Cost_of_Debt / EVA.Cost_of_Debt) AS Debt_to_EBITDA_Ratio
FROM wcdataIndia wc
JOIN waccIndia wacc ON wc.Industry_Name = wacc.Industry_Name
JOIN EVAIndia EVA ON wc.Industry_Name = EVA.Industry_Name
WHERE wc.Industry_Name LIKE '%Software%' OR wc.Industry_Name LIKE '%Pharmaceutical%'
```

```sql
SELECT DISTINCT wc.Industry_Name AS Industry, (wacc.Cost_of_Debt / EVA.Cost_of_Debt) AS Debt_to_EBITDA_Ratio
FROM wcdataIndia wc
JOIN waccIndia wacc ON wc.Industry_Name = wacc.Industry_Name
JOIN EVAIndia EVA ON wc.Industry_Name = EVA.Industry_Name
WHERE wc.Industry_Name LIKE '%Software%' OR wc.Industry_Name LIKE '%Pharmaceutical%'
```
 Industry = Drugs (Pharmaceutical), Debt_to_EBITDA_Ratio = 1.0
 Industry = Software (Entertainment), Debt_to_EBITDA_Ratio = 1.0
 Industry = Software (Internet), Debt_to_EBITDA_Ratio = 1.0
 Industry = Software (System & Application), Debt_to_EBITDA_Ratio = 1.0

The debt to EBITDA ratio for both the software industry and pharmaceutical companies is 1.0.

In [70]:
tsql = TextToSQLQueryModule("US")
sq = tsql(question="What is the beta value and number of firms for all the Software industries and semiconductor industry?")
print(sq.answer)

Table 1: Table wcdata has columns: Industry_Name (VARCHAR), Number_of_firms (INTEGER), Acc_Rec_Sales (INTEGER), Inventory_Sales (INTEGER), Acc_Pay_Sales (INTEGER), Non_cash_WC_Sales (INTEGER)
	Row 1 from table wcdata: Environmental & Waste Services, 57, 0.1610239529643997, 0.0160835818498789, 0.0732441943895783, 0.1018059159059052
	Row 2 from table wcdata: Utility (Water), 13, 0.1519332278688117, 0.0326291583073621, 0.0835453907415389, 0.1135057399930943
	Row 3 from table wcdata: Software (Internet), 35, 0.1228885101454502, 1.6367264776917992e-05, 0.0423722824532171, 0.0966957543939344
	Row 4 from table wcdata: Packaging & Container, 22, 0.1374846253483106, 0.1265656973833159, 0.1305482832092476, 0.1112268155694879
	Row 5 from table wcdata: Semiconductor, 63, 0.1290909417966836, 0.1898317691334856, 0.0849115283669021, 0.2240302287823765


Table 2: Table wacc has columns: Industry_Name (VARCHAR), Number_of_Firms (INTEGER), Beta (INTEGER), Cost_of_Equity (INTEGER), E_D_E_ (INTEGER), Std_Dev_in_Stock (INTEGER), Cost_of_Debt (INTEGER), Tax_Rate (INTEGER), After_tax_Cost_of_Debt (INTEGER), D_D_E_ (INTEGER), Cost_of_Capital (INTEGER), Cost_of_Capital_Local_Currency_ (INTEGER)
	Row 1 from table wacc: Environmental & Waste Services, 57, 0.90699903446977, 0.0805219555856094, 0.8200309682356417, 0.4606641855124769, 0.050855, 0.0541917435398483, 0.03814125, 0.1799690317643583, 0.0728947410358769, 0.0728947410358769
	Row 2 from table wacc: Utility (Water), 13, 0.7139634340794939, 0.0716423179676567, 0.6627268690709837, 0.28198719816416, 0.050855, 0.1109172936995937, 0.03814125, 0.3372731309290163, 0.0603433078847393, 0.0603433078847392
	Row 3 from table wacc: Software (Internet), 35, 1.6160843271745926, 0.1131398790500312, 0.8930134645020447, 0.65221602599035, 0.060879, 0.0260557605345441, 0.04565925, 0.1069865354979553, 0.1059203603347457, 0.1059203603347458
	Row 4 from table wacc: Power, 50, 0.6506274182981785, 0.0687288612417162, 0.518339022067922, 0.2039437012455431, 0.045043, 0.1368565682061268, 0.03378225, 0.4816609779320779, 0.051896442295619, 0.0518964422956189
	Row 5 from table wacc: Packaging & Container, 22, 1.1327220379604754, 0.0909052137461818, 0.620115895714898, 0.2624270896574677, 0.050855, 0.1811910443993945, 0.03814125, 0.379884104285102, 0.0708610226399319, 0.0708610226399319


Table 3: Table goodwill has columns: Industry_Name (VARCHAR), Number_of_Firms (INTEGER), Goodwill_in_millions_ (INTEGER), Change_in_Goodwill_in_last_year (INTEGER), Goodwill_as_of_Total_Assets (INTEGER), Impairment_of_Goodwill_in_LTM_in_millioins (INTEGER), Impairment_as_of_Goodwill (INTEGER)
	Row 1 from table goodwill: Environmental & Waste Services, 57, 41368.444, 5543.546000000002, 0.3948996481872136, 15.278, 0.0003693153167665
	Row 2 from table goodwill: Utility (Water), 13, 4187.41, 13.519999999999529, 0.0702820236958313, 0.0, 0.0
	Row 3 from table goodwill: Software (Internet), 35, 21376.69, -1219.7700000000004, 0.3311515514892826, 484.91, 0.0226840544537063
	Row 4 from table goodwill: Semiconductor, 63, 173260.712, 1059.6019999999844, 0.2442931512253766, 429.63, 0.0024796735222928
	Row 5 from table goodwill: Power, 50, 71107.18000000001, 2563.4000000000087, 0.0438123430666786, 2078.7, 0.0292333348052897


Table 4: Table DollarUS has columns: Industry_Name (VARCHAR), Number_of_firms (INTEGER), Average_Company_Age_years_ (INTEGER), Market_Cap_millions_ (INTEGER), Book_Equity_millions_ (INTEGER), Enteprise_Value_millions_ (INTEGER), Invested_Capital_millions_ (INTEGER), Total_Debt_including_leases_millions_ (INTEGER), Revenues_millions_ (INTEGER), Gross_Profit_millions_ (INTEGER), EBITDA_millions_ (INTEGER), EBIT_Operating_Income_millions_ (INTEGER), Net_Income_millions_ (INTEGER)
	Row 1 from table DollarUS: Environmental & Waste Services, 57, 36.204081632653065, 203179.789, 27942.29500000001, 245587.91613806767, 33584.18642975343, 44591.084138067694, 72586.38100000002, 25147.858, 16003.036, 10021.184772386465, 5871.133
	Row 2 from table DollarUS: Utility (Water), 13, 89.61538461538461, 46874.02, 17109.9, 69973.57501678159, 39265.4050167816, 23854.997016781603, 8862.38, 4918.995, 4115.236000000001, 2719.0665966436786, 1713.7600000000002
	Row 3 from table DollarUS: Packaging & Container, 22, 80.19047619047619, 132627.167, 49084.58099999999, 205727.3441716776, 86259.32917167754, 81247.63917167754, 146995.2, 31917.63, 23820.874, 14660.644165664493, 4193.327999999999
	Row 4 from table DollarUS: Software (System & Application), 351, 20.125, 5277974.335000003, 397835.59000000014, 5446717.280701609, 326815.0326293967, 327430.6527016032, 508015.76600000006, 363334.808, 170251.41100000014, 128741.80425967928, 97238.32000000008
	Row 5 from table DollarUS: Software (Internet), 35, 14.413793103448276, 220091.11299999992, 28399.863, 241745.7304766904, 25653.71492597519, 26367.783476690336, 28838.050000000003, 17046.417999999998, 1980.7540000000004, -835.1582953380669, -4129.525


Table 5: Table divfcfe has columns: Industry_name (VARCHAR), Number_of_firms (INTEGER), _Dividends_ (INTEGER), _Net_Income_ (INTEGER), Payout (INTEGER), Dividends_Buybacks (INTEGER), Cash_Return_as_of_Net_Income (INTEGER), Dividends_Buybacks_Stock_Issuances (INTEGER), FCFE_before_debt_cash_flows_ (INTEGER), FCFE_after_debt_cash_flows_ (INTEGER), Net_Cash_Returned_FCFE_pre_debt_ (INTEGER), Net_Cash_Returned_FCFE_post_debt_ (INTEGER), Net_Cash_Returned_Net_Income (INTEGER), Cash_Firm_Value (INTEGER)
	Row 1 from table divfcfe: Environmental & Waste Services, 57, 2133.7000000000003, 5871.133, 0.3634221878468773, 4356.0830000000005, 0.7419492966689736, 3706.577, 4496.790999999999, 8844.003999999979, 0.824271574996481, 0.4191062102640398, 0.6313222677803416, 0.0088103858712382
	Row 2 from table divfcfe: Software (System & Application), 351, 26468.845, 97238.32000000008, 0.2722059060666615, 78137.651, 0.8035685005664427, 66388.049, 76723.88500000015, 92868.45200000016, 0.8652852889292542, 0.7148611565098542, 0.682735458613435, 0.0283097666177849
	Row 3 from table divfcfe: R.E.I.T., 193, 50197.926499999965, 23324.137999999984, 2.152187853630432, 43938.93199999997, 1.883839479941338, 18888.996999999978, 58792.15099999998, 108412.02399999648, 0.3212843326654264, 0.1742334134449938, 0.8098475922239866, 0.0188005563484407
	Row 4 from table divfcfe: Packaging & Container, 22, 2944.63, 4193.327999999999, 0.7022179042517068, 5178.039, 1.2348280411167458, 5090.014, 64.32999999999777, 2000.9439999999888, 79.12348826364335, 2.5438063234153625, 1.2138363610001417, 0.0380945383228542
	Row 5 from table divfcfe: Software (Entertainment), 84, 235.41, 93923.67300000004, 0.002506396869722, 90466.018, 0.9631865440356016, 89973.84199999999, 55413.70400000005, 62184.25100000004, 1.623674930663359, 1.44689114290369, 0.957946374179808, 0.0277904380642664



Prediction(
    rationale='produce the SQL. We need to retrieve the beta value and number of firms for the Software industries and semiconductor industry. We have the necessary information in the tables wcdata and wacc.',
    sql="```sql\nSELECT DISTINCT wacc.Beta AS Beta_Value, wacc.Number_of_Firms AS Number_of_Firms\nFROM wacc\nWHERE wacc.Industry_Name = 'Software (Internet)' OR wacc.Industry_Name = 'Semiconductor';\n```"
)
 Beta_Value = 1.495241185083536, Number_of_Firms = 63
 Beta_Value = 1.6160843271745926, Number_of_Firms = 35

The beta value for the Software (Internet) industry is 1.495241185083536 with 63 firms, and for the Semiconductor industry, it is 1.6160843271745926 with 35 firms.

In [87]:
tsql = TextToSQLQueryModule("China")
sq = tsql(question="What is the beta value and number of firms for all the Software industries and semiconductor industry?")
print(sq.answer)

Table 1: Table wcdataChina has columns: Industry_Name (VARCHAR), Number_of_firms (INTEGER), Acc_Rec_Sales (INTEGER), Inventory_Sales (INTEGER), Acc_Pay_Sales (INTEGER), Non_cash_WC_Sales (INTEGER)
	Row 1 from table wcdataChina: Environmental & Waste Services, 120, 0.7805756405836219, 0.1216584329026157, 0.4453190049448064, 0.4198965561444552
	Row 2 from table wcdataChina: Software (Internet), 19, 0.1839404184195781, 0.0865016001747371, 0.1431776526338781, 0.1385868130407118
	Row 3 from table wcdataChina: Utility (Water), 38, 0.5584269470144421, 0.056806454518549, 0.4650795448209008, 0.0671323545181202
	Row 4 from table wcdataChina: Power, 101, 0.1683105125531092, 0.0570632319985086, 0.1227652527863432, 0.0491055449848438
	Row 5 from table wcdataChina: Packaging & Container, 22, 0.2572060652570855, 0.2016428061075975, 0.2346039323612692, 0.193016274577258


Table 2: Table waccChina has columns: Industry_Name (VARCHAR), Number_of_Firms (INTEGER), Beta (INTEGER), Cost_of_Equity (INTEGER), E_D_E_ (INTEGER), Std_Dev_in_Stock (INTEGER), Cost_of_Debt (INTEGER), Tax_Rate (INTEGER), After_tax_Cost_of_Debt (INTEGER), D_D_E_ (INTEGER), Cost_of_Capital (INTEGER), Cost_of_Capital_Local_Currency_ (INTEGER)
	Row 1 from table waccChina: Environmental & Waste Services, 120, 1.0260843257446013, 0.096568547539421, 0.5693272218997147, 0.2807677994428052, 0.0585549999999999, 0.1004761945544854, 0.04391625, 0.4306727781002852, 0.0738926362847557, 0.0738926362847558
	Row 2 from table waccChina: Utility (Water), 38, 0.621853508338659, 0.0738103525194665, 0.4153411738771336, 0.2187327777480227, 0.052743, 0.1641446172200444, 0.03955725, 0.5846588261228663, 0.053783973809369, 0.053783973809369
	Row 3 from table waccChina: Software (Internet), 19, 0.9517387989546392, 0.0923828943811461, 0.7992627579619607, 0.3399832570802881, 0.0585549999999999, 0.0593218951020171, 0.04391625, 0.2007372420380393, 0.0826538338572364, 0.0826538338572364
	Row 4 from table waccChina: Packaging & Container, 22, 0.6632370473734861, 0.0761402457671272, 0.757479232841846, 0.2436783961826011, 0.052743, 0.1253655434552159, 0.03955725, 0.2425207671581539, 0.06726810956874, 0.0672681095687401
	Row 5 from table waccChina: Semiconductor, 173, 1.3766066410015918, 0.1163029538883896, 0.8916915589224178, 0.3505300755906819, 0.0585549999999999, 0.0455831075871332, 0.04391625, 0.1083084410775822, 0.1084628628354936, 0.1084628628354935


Table 3: Table goodwillChina has columns: Industry_Name (VARCHAR), Number_of_Firms (INTEGER), Goodwill_in_millions_ (INTEGER), Change_in_Goodwill_in_last_year (INTEGER), Goodwill_as_of_Total_Assets (INTEGER), Impairment_of_Goodwill_in_LTM_in_millioins (INTEGER), Impairment_as_of_Goodwill (INTEGER)
	Row 1 from table goodwillChina: Environmental & Waste Services, 120, 1281.1550000000004, -305.801, 0.0098994856290149, 280.593, 0.2190156538436019
	Row 2 from table goodwillChina: Utility (Water), 38, 1178.812, -76.12300000000005, 0.0110438247444923, 2.713, 0.0023014696151718
	Row 3 from table goodwillChina: Power, 101, 12486.593, 553.064999999995, 0.0129974053264763, 284.26500000000004, 0.0227656174906958
	Row 4 from table goodwillChina: Software (Internet), 19, 437.1, -210.456, 0.0226844571766647, 209.421, 0.4791146190803019
	Row 5 from table goodwillChina: Packaging & Container, 22, 113.071, -31.805000000000007, 0.0080682012786847, 10.104, 0.0893597827913435


Table 4: Table DollarChina has columns: Industry_Name (VARCHAR), Number_of_firms (INTEGER), Average_Company_Age_years_ (INTEGER), Market_Cap_millions_ (INTEGER), Book_Equity_millions_ (INTEGER), Enteprise_Value_millions_ (INTEGER), Invested_Capital_millions_ (INTEGER), Total_Debt_including_leases_millions_ (INTEGER), Revenues_millions_ (INTEGER), Gross_Profit_millions_ (INTEGER), EBITDA_millions_ (INTEGER), EBIT_Operating_Income_millions_ (INTEGER), Net_Income_millions_ (INTEGER)
	Row 1 from table DollarChina: Environmental & Waste Services, 120, 20.66379310344828, 63702.35200000002, 45104.79, 102308.07112384203, 89101.32412384207, 48188.22612384208, 35182.369999999995, 8751.014000000001, 5743.255999999997, 3536.412575231586, 711.52
	Row 2 from table DollarChina: Software (Internet), 19, 18.36842105263158, 22998.899999999998, 8376.390000000001, 26335.94280615911, 11691.322806159107, 5776.242806159108, 21060.2, 1836.089, 965.741, 463.86443876817833, 209.86
	Row 3 from table DollarChina: Utility (Water), 38, 24.257142857142856, 36310.41, 37787.3, 78750.12983004378, 87258.598, 51112.68283004377, 23313.9, 7664.893, 7358.603000000001, 4848.412433991248, 2454.96
	Row 4 from table DollarChina: Packaging & Container, 22, 20.454545454545453, 11669.89, 6646.999999999999, 13670.927747010572, 8812.14674701057, 3736.3277470105695, 9447.249999999996, 1447.605, 1022.056, 562.4454505978858, 412.2699999999999
	Row 5 from table DollarChina: Telecom (Wireless), 8, 18.25, 204487.52, 197714.1, 184902.649, 207578.19200000004, 21250.229, 188443.0, 51715.42999999999, 49397.89, 21422.96, 19285.28


Table 5: Table divfcfeChina has columns: Industry_name (VARCHAR), Number_of_firms (INTEGER), _Dividends_ (INTEGER), _Net_Income_ (INTEGER), Payout (INTEGER), Dividends_Buybacks (INTEGER), Cash_Return_as_of_Net_Income (INTEGER), Dividends_Buybacks_Stock_Issuances (INTEGER), FCFE_before_debt_cash_flows_ (INTEGER), FCFE_after_debt_cash_flows_ (INTEGER), Net_Cash_Returned_FCFE_pre_debt_ (INTEGER), Net_Cash_Returned_FCFE_post_debt_ (INTEGER), Net_Cash_Returned_Net_Income (INTEGER), Cash_Firm_Value (INTEGER)
	Row 1 from table divfcfeChina: Telecom (Wireless), 8, 14213.16, 19285.28, 0.7369952627081381, 14321.986, 0.7426382194087926, 13860.877, 9217.517999999996, 2496.7279999999955, 1.503753721988935, 5.551616756010276, 0.7187283254378468, 0.1808961956114836
	Row 2 from table divfcfeChina: Utility (General), 4, 89.39999999999999, 142.57, 0.6270603913866872, 89.39999999999999, 0.6270603913866872, 89.39999999999999, 97.29000000000002, 340.03, 0.9189022510021582, 0.262917977825486, 0.6270603913866872, 0.1293218296009642
	Row 3 from table divfcfeChina: Oil/Gas (Production and Exploration), 15, 8865.4, 18678.828999999994, 0.4746229006111679, 8990.207, 0.4813046363880735, 8971.107, 9300.488999999998, 6030.410999999996, 0.9645844428180068, 1.4876443744879089, 0.4802820883471872, 0.1872653060931191
	Row 4 from table divfcfeChina: Office Equipment & Services, 10, 143.689, 227.36500000000007, 0.6319750181426339, 166.519, 0.7323862511820199, 98.474, 63.8070000000001, 37.09000000000015, 1.5433102951086848, 2.6550013480722465, 0.4331097574384798, 0.143033301916431
	Row 5 from table divfcfeChina: Total Market, 7504, 504086.7439999993, 798823.6939999987, 0.6310362947246281, 546579.9069999994, 0.6842309649868752, 297353.3259999999, 332582.1279999978, 531681.1990000112, 0.8940748794535401, 0.5592699658352854, 0.3722389911984763, 0.1603796454322562



Prediction(
    rationale='produce the SQL. We need to retrieve the beta value and number of firms for the Software industries and semiconductor industry. We have the necessary information in the tables wcdataChina and waccChina.',
    sql="```sql\nSELECT DISTINCT waccChina.Industry_Name AS Industry, waccChina.Beta AS Beta_Value, waccChina.Number_of_Firms AS Number_of_Firms\nFROM waccChina\nWHERE waccChina.Industry_Name IN ('Software (Internet)', 'Semiconductor');\n```"
)
 Industry = Semiconductor, Beta_Value = 1.3766066410015918, Number_of_Firms = 173
 Industry = Software (Internet), Beta_Value = 0.9517387989546392, Number_of_Firms = 19

The beta value for the Semiconductor industry is 1.3766066410015918 with 173 firms, and for the Software (Internet) industry, the beta value is 0.9517387989546392 with 19 firms.